html, body {
  margin: 0;
  padding: 0;
}

body{
  background-image: url(img/simcity.jpg);
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  background: black;
  width: 200px;
  margin: 5em auto;
  padding: 1.2em;
}

button {
  width: 85%;
}

p {
  color: red;
  font-size: 1.5em;
}

.exploded {
  background-image: url(img/explosion.jpg)
}

.green {
  color: green;
}
